@CHARSET "UTF-8";
.picDiv{float:left;}
.margin0{margin:0;}
.marginTop5{margin-top:5px;}
.left{float:left;}
#lightbox {
position:absolute;
top:0; 
left:0; 
min-width:100%; 
text-align:center;
z-index: 101;
}
#overlay{
position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 100;
background:url('images/overlay.png') repeat;
}
#content {
position:absolute;
z-index: 102;
top:0; 
left:0; 
min-width:100%; 
text-align:center;
}
#lightbox p {
color:#fff; 
margin-right:20px; 
font-size:12px; 
}
body{font-size:12px !important;}
.comment{font-size:12px !important;}
#replyForm{margin-bottom:20px;display:none;}
ul.comment, blockquote{margin-bottom:5px;}
.adminpanel{position:fixed;right:5px;top:40%;}
.loadpic , #loadForm , .video, .text{display:none;}
textarea{font-size:12px;max-width:401px;width:100%;border:1px solid #dddddd;}
.well {word-wrap:break-word;word-break:break-all;}
.tool_width,.tool_height{max-height:15px;font-size:12px;}
#name,#passwd{margin:0px !important;padding:2px;}
#memo,#hpurl{width:100%;max-width:199px;margin-bottom:3px;}
.cmtmodifyForm #memo{margin-right:3px;}
.log_info{font-size:11px !important;font-weight:normal;}
.name{font-size:12px !important;margin:0px !important;}
.pic_log{text-align:center !important;padding:0px !important;}
.cmtForm{max-width:}
@media (max-width: 979px){
	.cmtmodifyForm #memo{margin-right:0px;}
	
}